/* Navbar */
.nav-container {
  width: 100%;
  height: 80px;
  background-color: #232a31;
  padding: 0 2em;
  position: relative;
  box-sizing: border-box;
}
.logo {
  width: 50px;
  margin-top: 15px;
}
nav {
  position: relative;
}
.nav-item {
  list-style: none;
  position: absolute;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  margin: 0;
  right: 0;
}
.nav-item li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 25px;
}
.nav-item li a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.nav-item li a:hover {
  color: #ccc;
}
.login-btn {
  padding: 15px 20px;
  background-color: #2cc76a;
  border-radius: 5px;
  color: #fff;
}
.login-btn:hover {
  background-color: #22bb5f;
}
/* main banner */
.main-banner {
  background-image: url("/img/mainbanner.png");
  background-size: cover;
  background-position: center;
  padding: 10em 0;
  position: relative;
}
.main-banner h1,
.main-banner p {
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.main-banner h1 {
  font-size: 54px;
}
.main-banner p {
  font-size: 32px;
}
